<div class="container-fluid">
  <img src="assets/ju-logo.png" class="logo" alt="">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="title px-5 py-3">
            Dashboards System
        </div>
        <div class="login-content px-5 py-4 m-3">
            <div class="login-form">
                <form>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Username"
                          aria-label="Username"
                          aria-describedby="basic-addon1"
                        />
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Password"
                          aria-label="Password"
                          aria-describedby="basic-addon1"
                        />
                      </div>
                    <button type="button" class="btn mb-4 mx-3 w-40" routerLink="Home">Log in (User)</button>
                    <button type="button" class="btn mb-4 mx-3 w-40" routerLink="Admin-Home">Log in (Admin)</button>
                </form>
            </div>
        </div>
    </div>
</div>