.container-fluid{
    background-image: url("../../../assets/background 1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav{
    background: #727942;
}
.btn{
    background: #D0C5A7;
}
.photo{
    padding: 20px;
    height: 35rem;
}