<div class="container-fluid">
    <div class="nav d-flex justify-content-between align-items-center p-1">
        <div>Welcome User 1</div>
        <div class="btn" routerLink="">Logout</div>
    </div>
    <div class="row options p-5">
        <div class="col-5 text-center mx-5 d-flex justify-content-center align-items-center" routerLink="/upcoming-courses">الخطة<br>السنوية<br>للدورات</div>
        <div class="col-5 text-center mx-5 d-flex justify-content-center align-items-center" routerLink="/quality-exams">نتائج<br>امتحانات<br>الكفاءة</div>
    </div>
</div>
