.container-fluid{
    background-image: url("../../../assets/background 1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.type{
    width: 40%;
    height: 70px;
    border-radius: 3px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.368);
    color: white;
    font-weight: 500;
    font-size: 29px;
}
.logo{
    width:6rem;
    height: 7rem;
}
.nav{
    background: #727942;
}
.btn{
    background: #D0C5A7;
}
.options > div{
    background: #000000B2;
    color: beige;
    transition: all .5s ease-in-out;
    height: 20rem;
    font-size: 25px;
    cursor: pointer;
}
.options > div:hover{
    background: black;
}
.options{
    position: relative;
    top: 10%
}